name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: webapp/package-lock.json

    - name: Install Dependencies
      run: npm ci --legacy-peer-deps
      working-directory: ./webapp

    - name: Build
      run: npm run build
      working-directory: ./webapp

    - name: Test
      run: npm run test
      working-directory: ./webapp
